@use 'design/basicDesign';
@use 'design/asideDesign';
@use 'design/articleDesign';
@use 'design/fancy';

// Body
body {
	background-color: var(--body-background-colour);
	color: var(--text-colour);
	font-family: var(--font-families);
}

// Page components
aside, article, header, footer {
	background-color: var(--background-colour);
}
