{{ define "aside" }}
	{{ partial "aside/buttons.html" . }}
	{{ partial "aside/pageInfo.html" . }}
	{{ partial "aside/siteNav.html" (dict "currPage" .Page "rootSection" (.Site.GetPage "/design")) }}
	{{ partial "aside/pageNav.html" . }}
{{ end }}
{{ define "article" }}
	<section class="listItems">
		{{ partial "content.html" . }}
		{{ if not .Params.noList }}
			{{ range .Pages  }}
				{{ partial "listItem.html" . }}
			{{ end }}
		{{ end }}
	</section>
{{ end }}

{{ define "article" }}
{{ end }}

