@use 'theme' as *;

// Body
body * {
	transition-property: color, background-color, border-color;
	transition-duration: 150ms;
	transition-timing-function: ease-in-out;
}
body {
	background-color: black;
	background-color: var(--body-background-colour);
	color: var(--text-colour);
	font-family: var(--font-families);
}

// Sections
aside, article, header, footer {
	background-color: var(--background-colour);
}

// Misc Tags
a {
	color: var(--link-colour);
	&:hover {
		color: var(--link-colour-hover);
	}
	&:active {
		color: var(--link-colour-active);
	}
	&:visited {
		color: var(--link-colour-visited);
		transition: none;
		&:hover {
			color: var(--link-colour-visited-hover);
		}
		&:active {
			color: var(--link-colour-visited-active);
		}
	}
}

/// Headings
.title {
	text-align: right;
	font-size: 3.5em;
	font-weight: bold;
}

@for $i from 1 through 5 {
	h#{$i}, .h#{$i} {
		font-size: valueInMap($headings, size, $i);
		font-weight: bold;
	}
}

img {
	max-width: 100%;
}

// Header
header nav a {
	color: var(--text-colour);
	text-decoration: none;
	&:visited {
		color: var(--text-colour);
	}
	#headerNavLogo {
		filter: invert(1);
	}
}

// Aside
aside {
	/// Sections
	section, nav {
		margin-bottom: 1.2em;
		> ul, h5, p {
			margin: 0;
		}
	}
	/// Table of Contents
	nav {
		a, a:visited{
			color: var(--text-colour);
		}
		> ul {
			padding-left: 0;
		}
		li {
			list-style: none;
			> ul {
				padding-left: 1rem;
			}
		}
	}
}
