@use 'theme' as *;

// Body
body {
	background-color: black;
	background-color: var(--body-background-colour);
	color: var(--text-colour);
	font-family: var(--font-families);
}

// Sections
aside, article, header, footer {
	background-color: var(--background-colour);
}

// Misc Tags
a {
	color: var(--link-colour);
	&:hover {
		color: var(--link-colour-hover);
	}
	&:active {
		color: var(--link-colour-active);
	}
	&:visited {
		color: var(--link-colour-visited);
		&:hover {
			color: var(--link-colour-visited-hover);
		}
		&:active {
			color: var(--link-colour-visited-active);
		}
	}
}

/// Headings
.title {
	text-align: right;
	font-size: 3.5em;
	font-weight: bold;
}

.subtitle {
	text-align: right;
}

@for $i from 1 through 5 {
	h#{$i}, .h#{$i} {
		font-size: valueInMap($headings, size, $i);
		font-weight: bold;
		margin: 1.25em 0 0.25em;
	}
	@for $n from 1 through 5 {
		h#{$i} + h#{$n} {
			margin-top: 0.25em;
		}
	}
}

img {
	max-width: 100%;
}

// Header
header nav a {
	color: var(--text-colour);
	text-decoration: none;
	&:visited {
		color: var(--text-colour);
	}
	#headerNavLogo {
		filter: invert(1);
	}
}

// Aside
aside {
	/// Sections
	section, nav {
		margin-bottom: 2em;
		> ul, > details > ul, h4, p { // Details > nav isn't nice
			margin: 0;
		}
	}
	/// Table of Contents
	nav {
		a, a:visited{
			color: var(--text-colour);
			text-decoration: none;
		}
		> ul, > details > ul {
			padding-left: 0;
		}
		li {
			margin-top: 0.5em;
			list-style: none;
			> ul {
				padding-left: 1rem;
			}
		}
	}
}
