#downloadMyPaint > div {
	display: none;
	flex-wrap: wrap;
	a.download.large {
		display: inline-grid;
		grid-template-areas:
			"icon main"
			"icon subtitle";
		align-items: center;
		column-gap: 1em;
		.img {
			grid-area: icon;
		}
		span.main {
			grid-area: main;
			font-size: 140%;
			font-weight: bold;
		}
		span.sub {
			grid-area: subtitle;
		}
		span.img {
			font-size: 140%;
		}
	}
	.iconButtons {
		flex-grow: 1;
		display: grid;
		grid-auto-columns: 3em;
		grid-auto-rows: minmax(2.5em, 100%);
		a.download.small {
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 0;
			span.img {
				font-size: 120%;
			}
		}
	}
}

.linux #downloadLinux,
.macos #downloadMacOS,
.windows #downloadWindows,
.incompatible #downloadIncompatible {
	display: inline-flex;
}
.linux .osSelect #Linux,
.macos .osSelect #MacOS,
.windows .osSelect #Windows {
	color: var(--link-colour);
}
