body {
	margin: 0
}

// Header and footer
footer {
	padding: 1rem 4rem;
}

header {
	padding: 1.5rem 4rem 1rem;
	> nav {
		display: flex;
		justify-content: center;
		gap: 5rem;
		text-align: center;
		.headerNavItem {
			width: 6rem;
		}
	}
}

// Main
/// Aside
aside > div {
	position: sticky;
	top: 2rem;
}

/// Article/
main {
	margin: 1rem 2rem;
}

main.hasAside {
	display: grid;
	grid-template-columns: 15rem minmax(auto, 60rem);
	grid-column-gap: 2rem;
}

main > * {
	padding: 0 2rem;
}
