body {
	margin: 0
}

// Header and footer
footer {
	padding: 1rem 4rem;
}

header {
	padding: 1.5rem 4rem 1rem;
	> nav {
		display: flex;
		justify-content: center;
		gap: 5rem;
		text-align: center;
		.headerNavItem {
			width: 6rem;
		}
	}
}

// Main
/// Aside
aside > div {
	position: sticky;
	top: 2rem;
}

/// Article/
main {
	display: grid;
	grid-template-areas: "aside article .";
	grid-template-columns: 1fr 4fr 1fr;
	margin: 1rem 2rem;
	&.hasAside {
	}
	> aside {
		grid-area: aside;
		justify-self: start;
		margin-left: 2rem;
	}
	> article {
		grid-area: article;
		justify-self: center;
		max-width: 50rem;
	}
}
