body {
	margin: 0
}

// Header
header {
	padding: 1.5rem 4rem 1rem;
	> nav {
		display: flex;
		justify-content: center;
		gap: 5rem;
		text-align: center;
		.headerNavItem {
			width: 6rem;
		}
	}
}

// Main & Footer
/// Aside
aside > div {
	position: sticky;
	top: 2rem;
}

/// Article/
main, footer {
	display: grid;
	grid-template-areas: "aside article .";
	grid-template-columns: 1fr 4fr 1fr;
	margin: 1rem 2rem;
	> aside {
		grid-area: aside;
		justify-self: start;
		margin-left: 2rem;
		min-width: 15rem;
	}
	> article {
		grid-area: article;
		justify-self: center;
		width: 100%;
		max-width: 50rem;
	}
}
