@import 'functions';

// https://yeun.github.io/open-color/

/// Gray (Modified for equal RGB)

$gray-0: #f8f8f8;
$gray-1: #f1f1f1;
$gray-2: #e9e9e9;
$gray-3: #dedede;
$gray-4: #cecece;
$gray-5: #adadad;
$gray-6: #868686;
$gray-7: #494949;
$gray-8: #343434;
$gray-9: #212121; 

/// Blue
$blue-0: #e7f5ff;
$blue-1: #d0ebff;
$blue-2: #a5d8ff;
$blue-3: #74c0fc;
$blue-4: #4dabf7;
$blue-5: #339af0;
$blue-6: #228be6;
$blue-7: #1c7ed6;
$blue-8: #1971c2;
$blue-9: #1864ab;

/// Violet
$violet-0: #f3f0ff;
$violet-1: #e5dbff;
$violet-2: #d0bfff;
$violet-3: #b197fc;
$violet-4: #9775fa;
$violet-5: #845ef7;
$violet-6: #7950f2;
$violet-7: #7048e8;
$violet-8: #6741d9;
$violet-9: #5f3dc4;

// Yellow
$yellow-4: #ffd43b;
// Red
$red-9: #c92a2a;

@mixin lightTheme {
	--body-background-colour: #{$gray-2};
	--background-colour: transparent;
	--text-colour: #{$gray-9};
	// Links
	--link-colour: #{$blue-7};
	--link-colour-hover: #{$blue-8};
	--link-colour-active: #{$blue-9};
	--link-colour-visited: #{$violet-7};
	--link-colour-visited-hover: #{$violet-8};
	--link-colour-visited-active: #{$violet-9};
	// Images
	--invertedPercent: 0;
}

@mixin darkTheme {
	--body-background-colour: #{$gray-9};
	--background-colour: transparent;
	--text-colour: #{$gray-0};
	// Links
	--link-colour: #{$blue-4};
	--link-colour-hover: #{$blue-3};
	--link-colour-active: #{$blue-2};
	--link-colour-visited: #{$violet-4};
	--link-colour-visited-hover: #{$violet-3};
	--link-colour-visited-active: #{$violet-2};
	// Images
	--invertedPercent: 1;
}

@media (prefers-color-scheme: light) {
	:root {
		@include lightTheme;
	}
	#lightbulbOn {
		display: none;
	}
	.themeSwitch {
		#lightbulbOff {
			display: none;
		}
		#lightbulbOn {
			display: inline;
		}
		&:root {
			@include darkTheme;
		}
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		@include darkTheme;
	}
	#lightbulbOff  {
		display: none;
	}
	.themeSwitch {
		#lightbulbOn {
			display: none;
		}
		#lightbulbOff  {
			display: inline;
		}
		&:root {
			@include lightTheme;
		}
	}
}

// Colour classes
.yellow {
	color: $yellow-4;
}
.red {
	color: $red-9;
}

// Fonts
/// Size
$headings: (
	size: (2.3em,1.8em,1.5em,1.2em,1em),
);

/// Family
:root {
	--font-families: 'Atkinson Hyperlegible',Roboto,Ubuntu,Arial,Helvetica;
}
//// Atkinson Hyperlegible
$atkinsonTypefaces: (
name: (Regular,Bold,Italic,BoldItalic),
weight: (normal,bold,normal,bold),
style: (normal,normal,italic,italic)
);
@for $i from 1 through 4 {
@font-face {
font-family: "Atkinson Hyperlegible";
src: url('/fonts/AtkinsonHyperlegible/AtkinsonHyperlegible-#{valueInMap($atkinsonTypefaces,name,$i)}.ttf');
font-weight: valueInMap($atkinsonTypefaces,weight,$i);
font-style: valueInMap($atkinsonTypefaces,style,$i);
}
}
