// This fille covers all the variables for reactive design in the MyPaint website
:root {
	// Layout
	--body-scroll-padding: 0;
	--body-side-padding: 3rem;
	/// Header
	--header-nav-gap: 5rem;
	--header-nav-columns: repeat(5, 6rem);
	--header-menu-display: none;
	/// Main
	--main-columns: 1fr 4fr 1fr;
	--aside-display: block;

	// Design
	--article-title-size: 3.5em;
}

// Small width
@media screen and (max-width: 70rem){
	:root {
		--main-columns: 1fr 5fr 0;
	}
}
@media screen and (max-width: 60rem) {
	:root {
		--body-side-padding: 2rem;
		--header-nav-gap: 3rem;
	}
}

@media screen and (max-width: 45rem){
	:root {
		--body-scroll-padding: 4.5rem;
		--header-menu-display: block;
		--header-nav-columns: 1fr 6rem 1fr;
		--main-columns: 0 1fr 0;
		--aside-display: none;
	}
	header {
		position: sticky;
		& > nav .headerNavItem:not(.headerNavSmall) {
			display: none;
		}
	}
}

@media screen and (max-width: 30rem){
	:root {
		--article-title-size: 2.8em;
	}
	article {
		.floatRight, .floatLeft {
			float: none;
			margin: 0;
		}
		.gridded {
			display: block
		}
	}
}
