{{ if not .Params.hideList }}
	{{ if .Params.listByTitle }}
		{{ range (where .Pages "Params.pinned" true).ByTitle }}
			{{ partial "list/item.html" . }}
		{{ end }}
		{{ range (where .Pages "Params.pinned" "!=" true).ByTitle }}
			{{ partial "list/item.html" . }}
		{{ end }}
	{{ else }}
		{{ range (where .Pages "Params.pinned" true).ByPublishDate.Reverse }}
			{{ partial "list/item.html" . }}
		{{ end }}
		{{ range (where .Pages "Params.pinned" "!=" true).ByPublishDate.Reverse }}
			{{ partial "list/item.html" . }}
		{{ end }}
	{{ end }}
{{ end }}
