<h3><a href="{{ .RelPermalink }}">{{ if .Params.pinned }}<img class="inline invertable" src='{{ (resources.Get "icons/star-outline.svg").RelPermalink }}' alt="Pinned: "/>{{ end }}{{ .Title }}</a></h3>
<p class="subtitle">
	{{ with .Date }}
		<img class="inline invertable" src='{{ (resources.Get "icons/clock-outline.svg").RelPermalink }}' alt="Date: "/>
		<span title="{{ .Local }}">{{ .Local.Format "2006-01-02" }}</span>
	{{ end }}
	{{ with .Params.author }}
		<img class="inline invertable" src='{{ (resources.Get "icons/account-outline.svg").RelPermalink }}' alt="Author: "/>
		{{ . }}
	{{ end }}
</p>
<p>{{ .Summary }}</p>

