<aside></aside>
<article>
	<div id="socialBox">
		<a href="{{ .Site.Params.socialDiscourse}}" title="MyPaint's community forums"><img class="inline invertable" src='{{ (resources.Get "icons/social/forum-outline.svg").RelPermalink }}' alt="Discourse logo"/></a>
		<a href="{{ .Site.Params.socialMastodon }}" title="MyPaint on Mastodon"><img class="inline invertable" src='{{ (resources.Get "icons/social/mastodon.svg").RelPermalink }}' alt="Mastodon logo"/></a>
		<a href="{{ .Site.Params.socialDiscord }}" title="MyPaint on Discord"><img class="inline invertable" src='{{ (resources.Get "/icons/social/discord.svg").RelPermalink }}' alt="Discord logo"/></a>
	</div>
	<small><i>Text is available under the <a href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution License 4.0</a>; additional terms may apply.</i></small>
</article>
