<!-- Site configuration -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

<!-- Javascript -->
<script src='{{ (resources.Get "scripts/quickTheme.js").RelPermalink }}' type="text/javascript"></script>
<script defer="" src='{{ (resources.Get "scripts/main.js").RelPermalink }}' type="module"></script>

<!-- Stylesheet -->
{{ $styleOpts := (dict "transpiler" "dartsass" "targetPath" "main.css" "outputStyle" "compressed") }}
{{ $style := resources.Get "scss/build.scss" | resources.ToCSS $styleOpts }}
<link rel="stylesheet" href="{{ $style.RelPermalink }}">

<!-- Icons -->
<link rel="shortcut icon" href='{{ (resources.Get "icons/favicon.ico").RelPermalink }}' type="images/x-icon">
<link rel="icon" href='{{ (resources.Get "icons/favicon.ico").RelPermalink }}'>

<!-- Site information -->
<meta name="description" content="{{ .Site.Params.siteDescription }}">
<meta name="keywords" content="{{ .Site.Params.siteKeywords }}">

