<!-- Site configuration -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

<!-- Javascript -->
<script src='{{ print .Site.BaseURL "scripts/theme.js" }}' type="text/javascript"></script>
<script src='{{ print .Site.BaseURL "scripts/layout.js" }}' type="text/javascript"></script>

<!-- Stylesheet -->
{{ $styleOpts := (dict "transpiler" "dartsass" "targetPath" "main.css" "outputStyle" "compressed") }}
{{ $style := resources.Get "scss/build.scss" | resources.ToCSS $styleOpts }}
<link rel="stylesheet" href="{{ $style.RelPermalink }}">

<!-- Icons -->
<link rel="shortcut icon" href='{{ print .Site.BaseURL "/icons/favicon.ico" }}' type="images/x-icon">
<link rel="icon" href='{{ print .Site.BaseURL "/icons/favicon.ico" }}'>

<!-- Site information -->
<meta name="description" content="{{ .Site.Params.siteDescription }}">
<meta name="keywords" content="{{ .Site.Params.siteKeywords }}">

