{{ define "mainProperties" }}class="noAside"{{ end }}
{{ define "article" }}
	<section class="listItems">
		<div class="title" id="{{ .Title | urlize }}">{{ .Title }}</div>
		{{ with .Params.summary }}<p>{{ . }}</p>{{ end }}
		{{ .Content }}
		{{ range (where .Pages "Params.pinned" true).ByPublishDate.Reverse }}
			{{ .Render "summary" }}
		{{ end }}
		{{ range (where .Pages "Params.pinned" "!=" true).ByPublishDate.Reverse }}
			{{ .Render "summary" }}
		{{ end }}
	</section>
{{ end }}

{{ define "article" }}
{{ end }}

