@import 'theme/opencolor';

@mixin lightTheme {
	--body-background-colour: #{$gray-0};
	--background-colour: var(--body-background-colour);
	--background-colour-alt: #{$gray-2};
	--background-colour-alt-2: #{$gray-4};
	--text-colour: #{$gray-9};
	--text-colour-alt: #{$gray-7};
	// Links
	--link-colour: #{$blue-7};
	--link-colour-hover: #{$blue-8};
	--link-colour-active: #{$blue-9};
	--link-colour-visited: #{$violet-7};
	--link-colour-visited-hover: #{$violet-8};
	--link-colour-visited-active: #{$violet-9};
	// Images
	--inverted-percent: 0.13;
}

@mixin darkTheme {
	--body-background-colour: #{$gray-9};
	--background-colour: var(--body-background-colour);
	--background-colour-alt: #{$gray-8};
	--background-colour-alt-2: #{$gray-7};
	--text-colour: #{$gray-0};
	--text-colour-alt: #{$gray-5};
	// Links
	--link-colour: #{$blue-4};
	--link-colour-hover: #{$blue-3};
	--link-colour-active: #{$blue-2};
	--link-colour-visited: #{$violet-4};
	--link-colour-visited-hover: #{$violet-3};
	--link-colour-visited-active: #{$violet-2};
	// Images
	--inverted-percent: 0.97;
}

// Colour classes
@mixin lightHighlight {
	&.yellow {
		color: $yellow-9;
	}
	&.red {
		color: $red-9;
	}
}

@mixin darkHighlight {
	&.yellow {
		color: $yellow-4;
	}
	&.red {
		color: $red-6;
	}
}

#systemThemeButton,
#darkThemeButton,
#lightThemeButton {
	display: none;
}

@media (prefers-color-scheme: light) {
	.systemTheme {
		&:root {
			@include lightTheme;
		}
		@include lightHighlight;
		#systemThemeButton {
			display: inline;
		}
	}
}

@media (prefers-color-scheme: dark) {
	.systemTheme {
		&:root {
			@include darkTheme;
		}
		@include darkHighlight;
		#systemThemeButton {
			display: inline;
		}
	}
}

.lightTheme {
	#lightThemeButton {
		display: inline;
	}
	&:root {
		@include lightTheme;
	}
	@include lightHighlight;
}
.darkTheme {
	#darkThemeButton {
		display: inline;
	}
	&:root {
		@include darkTheme;
	}
	@include darkHighlight;
}

:root {
	--dark-background-colour-alt: #{$gray-8};
	--dark-text-colour: #{$gray-0};
	// Links
	--dark-link-colour: #{$blue-4};
	--dark-link-colour-hover: #{$blue-3};
	--dark-link-colour-active: #{$blue-2};
	--dark-link-colour-visited: #{$violet-4};
	--dark-link-colour-visited-hover: #{$violet-3};
	--dark-link-colour-visited-active: #{$violet-2};
	// Images
	--dark-inverted-percent: 0.87;
}
