.titleBox {
	display: grid;
	grid-template-areas: "main";
	justify-items: center;
	& > * {
		grid-area: main;
	}
	.titleText {
		z-index: 1;
		padding: 4rem 2rem;
	}
	.titleImg {
		filter: brightness(50%) blur(0.2em);
		width: 100%;
		height: 100%;
	}
}

#pageTurner {
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-content: center;
	text-align: center;
	gap: 1em;
}
