body {
	margin: 0
}

// Header
header {
	z-index: 99;
	top: 0;
	padding: 1.5rem 4rem 1rem;
	> nav {
		display: flex;
		justify-content: center;
		gap: 5rem;
		text-align: center;
		.headerNavItem {
			width: 6rem;
		}
	}
}

// Main
/// Aside
aside > div {
	max-height: calc(100vh - 6rem);
	overflow-y: scroll;
	position: sticky;
	top: 3rem;
	padding-right: 1rem;
}

/// Main
main, footer {
	display: grid;
	grid-template-areas: "aside article .";
	grid-template-columns: var(--main-columns);
	margin: 1rem 2rem;
	> aside {
		grid-area: aside;
		justify-self: start;
		margin: var(--aside-margin);
		min-width: 15rem;
	}
	// Article
	> article {
		grid-area: article;
		justify-self: center;
		width: 100%;
		max-width: 50rem;
		overflow-x: clip;
	}
}

#pageTurner {
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-content: center;
	text-align: center;
	gap: 1em;
}
