* {
	box-sizing: border-box;
}

html {
	scroll-padding-top: var(--body-scroll-padding);
}

body {
	margin: 0;
}

// Main
main, footer {
	display: grid;
	grid-template-areas: "aside article .";
	grid-template-columns: var(--main-columns);
	margin: 1rem var(--body-side-padding);
	> aside {
		grid-area: aside;
		justify-self: start;
		margin-right: 1rem;
	}
	// Article
	> article {
		grid-area: article;
		justify-self: center;
		width: 100%;
		max-width: 50rem;
		overflow-x: hidden;
	}
}

// Footer
#socialBox {
	float: right;
	display: flex;
	align-items: center;
	height: 100%;
	font-size: 140%;

	> a {
		margin: 0 0.4rem;
	}
}
