:root {
	--tb-aspect-ratio: 2.75 / 1;
	--main-columns: 1fr 4fr 1fr;
	--aside-margin: 0 1rem 0 2rem;
}

// Small width
@media screen and (max-width: 70rem){
	:root {
		--tb-aspect-ratio: 2.35 / 1;
		--main-columns: 1fr 5fr 0;
	}
	main, footer > aside {
		margin-left: 0;
	}
}
@media screen and (max-width: 60rem) {
	:root {
		--aside-margin: 0 1rem 0 0rem;
	}
}

@media screen and (max-width: 45rem){
	:root {
		--main-columns: 0 1fr 0;
	}
	header {
		position: sticky;
		& > nav .headerNavItem:not(#headerLogo) {
			display: none;
		}
	}
	main, footer {
		> aside {
			display: none;
		}
	}
}
