<div class="title" id="{{ .Title | urlize }}">{{ .Title }}</div>
{{ if gt .Ancestors.Len 1 }}
	<p class="subtitle"><i>
		{{ with .Params.author }}
			<img class="inline invertable" src='{{ print $.Site.BaseURL "icons/account-outline.svg" }}' alt="Author: "/>
			{{ . }},
		{{ end }}
		{{ with .Date }}
			{{ $date := .Local }}
			<img class="inline invertable" src='{{ print $.Site.BaseURL "icons/clock-outline.svg" }}' alt="Date: "/>
			<span title="{{ $date }}">{{ $date.Format "2006-01-02" }}</span>,
		{{ end }}
		<img class="inline invertable" src='{{ print $.Site.BaseURL "icons/folder-outline.svg" }}' alt="In: "/>
		{{ range .Ancestors.Reverse }}
			{{ if not .IsHome }}
				{{ if ne . (index $.Ancestors.Reverse 1) }}&gt;{{ end }}
				<a href="{{.RelPermalink}}">{{ .LinkTitle }}</a>
			{{ end }}
		{{ end }}
	</i></p>
{{ end }}
{{ .Content }}
{{ if or .NextInSection .PrevInSection }}
	<nav id="pageTurner">
		{{ with .NextInSection }}
			<a class="button" id="nextInSection" href="{{ .RelPermalink }}"><b>Prev: {{ .Title }}</b></a>
		{{ end }}
		{{ with .PrevInSection }}
			<a class="button" id="prevInSection" href="{{ .RelPermalink }}"><b>Next: {{ .Title }}</b></a>
		{{ end }}
	</nav>
{{ end }}

