{{ if and .BundleType (.Resources.Get "index.jpg") }}
	{{ with .Resources.Get "index.jpg" }}
		<div class="titleBox">
			<div class="titleImg" style="background-image:url({{ .RelPermalink }})"{{ with $.Params.imgAlt }} alt="{{ . }}"{{ end }}></div>
			<div class="titleText">
				{{ partial "titleBlock.html" $ }}
			</div>
		</div>
	{{ end }}
{{ else }}
	{{ partial "titleBlock.html" . }}
{{ end }}
{{ define "partials/titleBlock.html" }}
	<div class="title" id="{{ .Title | urlize }}">{{ .Title }}</div>
	{{ if or .Params.author .Date (gt .Ancestors.Len 1) }}
		<p class="subtitle"><i>
			{{ with .Params.author }}
				<span class="img inline" style='mask-image:url({{ (resources.Get "icons/account-outline.svg").RelPermalink }})' alt="Author: "></span>
				{{ . }},
			{{ end }}
			{{ with .Date }}
				<span class="img inline" style='mask-image:url({{ (resources.Get "icons/clock-outline.svg").RelPermalink }})' alt="Date: "></span>
				<span title="{{ .Local }}">{{ .Local.Format "2006-01-02" }}</span>,
			{{ end }}
			{{ if gt .Ancestors.Len 1 }}
				<span class="img inline" style='mask-image:url({{ (resources.Get "icons/folder-outline.svg").RelPermalink }})' alt="In: "></span>
				{{ range .Ancestors.Reverse }}
					{{ if not .IsHome }}
						{{ if ne . (index $.Ancestors.Reverse 1) }}&gt;{{ end }}
						<a href="{{.RelPermalink}}">{{ .LinkTitle }}</a>
					{{ end }}
				{{ end }}
			{{ end }}
		</i></p>
	{{ end }}
{{ end }}
{{ if and .IsSection (not .Params.hideSummary) }}
	{{ with .Params.summary }}<p>{{ . }}</p>{{ end }}
{{ end }}
{{ .Content }}
{{ if or .NextInSection .PrevInSection }}
	<nav id="pageTurner">
		{{ with .NextInSection }}
			<a class="button secondary" id="nextInSection" href="{{ .RelPermalink }}">Prev: {{ .Title }}</a>
		{{ end }}
		{{ with .PrevInSection }}
			<a class="button secondary" id="prevInSection" href="{{ .RelPermalink }}">Next: {{ .Title }}</a>
		{{ end }}
	</nav>
{{ end }}

