<!-- Site configuration -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

<!-- Stylesheet -->
{{ $styleOpts := (dict "transpiler" "dartsass" "targetPath" "main.css" "outputStyle" "compressed") }}
{{ $style := resources.Get "scss/build.scss" | resources.ToCSS $styleOpts }}
<link rel="stylesheet" href="{{ $style.RelPermalink }}">

<!-- Icons -->
<link rel="shortcut icon" href="/icons/favicon.ico" type="images/x-icon">
<link rel="icon" href="/icons/favicon.ico">

<!-- Site information -->
<meta name="description" content="{{ .Site.Params.siteDescription }}">
<meta name="keywords" content="{{ .Site.Params.siteKeywords }}">

