<h3><a href="{{ .RelPermalink }}">{{ if .Params.pinned }}<img class="inlineIcon small invertableIcon" src='{{ print $.Site.BaseURL "icons/star-outline.svg" }}' alt="pinned"/>{{ end }}{{ .Title }}</a></h3>
<p class="subtitle">
	{{ with .Date }}
		<img class="inline invertable" src='{{ print $.Site.BaseURL "icons/clock-outline.svg" }}' alt="Date: "/>
		{{ .Local.Format "2006-01-02" }}
	{{ end }}
	{{ with .Params.author }}
		<img class="inline invertable" src='{{ print $.Site.BaseURL "icons/account-outline.svg" }}' alt="Author: "/>
		{{ . }}
	{{ end }}
</p>
<p>{{ .Summary }}</p>

