<h3><a href="{{ .RelPermalink }}">{{ if .Params.pinned }}<img class="inline invertable" src='{{ absURL "icons/star-outline.svg" }}' alt="Pinned: "/>{{ end }}{{ .Title }}</a></h3>
<p class="subtitle">
	{{ with .Date }}
		<img class="inline invertable" src='{{ absURL "icons/clock-outline.svg" }}' alt="Date: "/>
		{{ .Local.Format "2006-01-02" }}
	{{ end }}
	{{ with .Params.author }}
		<img class="inline invertable" src='{{ absURL "icons/account-outline.svg" }}' alt="Author: "/>
		{{ . }}
	{{ end }}
</p>
<p>{{ .Summary }}</p>

