{{ define "headExtra" }}
	<link href="{{ .Site.Params.socialMastodon }}" rel="me">
	<script defer="" src='{{ (resources.Get "scripts/index.js").RelPermalink }}' type="text/javascript"></script>
	<!-- Stylesheet -->
	{{ $styleOpts := (dict "transpiler" "dartsass" "targetPath" "index.css" "outputStyle" "compressed") }}
	{{ $style := resources.Get "scss/index.scss" | resources.ToCSS $styleOpts }}
	<link rel="stylesheet" href="{{ $style.RelPermalink }}">
{{ end }}

{{ define "aside" }}
	{{ partial "aside/siteNav.html" . }}
	{{ partial "aside/buttons.html" . }}
{{ end }}

{{ define "title" }}{{ .Site.Title }}{{ end }}
{{ define "article" }}
	{{ partial "content.html" . }}
{{ end }}
