<section id="siteOptions">
	<h4>Site Options</h4>
	{{ $lightModeTitle := "Toggle light mode" }}
	<a class="aUnthemed" href="javascript:void(0)" title="{{ $lightModeTitle }}" onclick="themer()">
		<span id="systemThemeButton">
			<img class="inline invertable" src='{{ absURL "icons/lightbulb-auto-outline.svg" }}' alt="{{ $lightModeTitle }}"/>
			System Theme
		</span>
		<span id="darkThemeButton">
			<img class="inline invertable" src='{{ absURL "icons/lightbulb-off-outline.svg" }}' alt="{{ $lightModeTitle }}"/>
			Dark Theme
		</span>
		<span id="lightThemeButton">
			<img class="inline invertable" src='{{ absURL "icons/lightbulb-outline.svg" }}' alt="{{ $lightModeTitle }}"/>
			Light Theme
		</span>
	</a>
</section>
