<section id="siteOptions">
	<h4>Site Options</h4>
	<a class="aUnthemed" href="javascript:void(0)" title="Toggle theme" onclick="switchTheme()">
		<span id="systemThemeButton">
			<img class="inline invertable" src='{{ absURL "icons/lightbulb-auto-outline.svg" }}' alt="System Theme"/>
			System Theme
		</span>
		<span id="darkThemeButton">
			<img class="inline invertable" src='{{ absURL "icons/lightbulb-off-outline.svg" }}' alt="Dark Theme"/>
			Dark Theme
		</span>
		<span id="lightThemeButton">
			<img class="inline invertable" src='{{ absURL "icons/lightbulb-outline.svg" }}' alt="Light Theme"/>
			Light Theme
		</span>
	</a>
</section>
