<section id="siteOptions">
	<h4>Site Options</h4>
	<button class="aUnthemed" id="themeButton" title="Toggle theme">
		<span id="systemThemeButton">
			<span class="aUnthemed img inline" style='mask:url({{ (resources.Get "icons/lightbulb-auto-outline.svg").RelPermalink }})' alt=""></span>
			System Theme
		</span>
		<span id="darkThemeButton">
			<span class="aUnthemed img inline" style='mask:url({{ (resources.Get "icons/lightbulb-off-outline.svg").RelPermalink }})' alt=""></span>
			Dark Theme
		</span>
		<span id="lightThemeButton">
			<span class="aUnthemed img inline" style='mask:url({{ (resources.Get "icons/lightbulb-outline.svg").RelPermalink }})' alt=""></span>
			Light Theme
		</span>
	</button>
</section>
