{{ if .Fragments.Headings }}
	<nav id="pageNav">
		<details open="">
			<summary class="h4">Page Navigation</summary>
			{{ partial "pageNavItems.html" (dict "scopeHeadings" .Fragments.Headings "rootHeading" true) }}
		</details>
	</nav>
{{ end }}

{{ define "partials/pageNavItems.html" }}
	<ul>
		{{ if .rootHeading }}
			<li><a href="#">Return to top</a></li>
		{{ end }}
		{{ range .scopeHeadings }}
			<li>
				<a class="pageNavItem" href='{{ print "#" .ID }}'>{{ .Title }}</a>
				{{ with .Headings }}
					{{ partial "pageNavItems.html" (dict "scopeHeadings" .) }}
				{{ end }}
			</li>
		{{ end }}
	</ul>
{{ end }}
