{{ $href := (.Get "href") }}
{{ $content := (.Get "content") }}
{{ $src := (.Get "src") }}

{{ with (.Get "paramref") }}
	{{ $href = $.Site.Param . }}
{{ end }}
{{ with (.Get "relref") }}
	{{ $href = $.RelRef (dict "path" .) }}
{{ end }}

{{ if ne $src "" }}
	{{ $src = (printf "style=mask-image:url(%s)" (resources.Get $src).RelPermalink) | safeHTMLAttr }}
{{ end }}

<a class="button secondary" href="{{ $href }}">
	{{ if ne $src "" }}
		<span class="aUnthemed img inline" {{ $src }} alt=""></span>
	{{ end }}
	{{ $content }}
</a>
