{{ if (.Get "caption") }}
<figure {{ with (.Get "float") }}class="{{ if eq . "right" }}floatRight{{ else if eq . "left" }}floatLeft{{ end }}"{{ end }}{{ with (.Get "width") }}style='max-width:{{ . }};'{{ end }}>
	<img src='{{ .Get "src" }}'/>
	<figcaption>{{ .Get "caption" }}</figcaption>
</figure>
{{ else }}
<img
	{{ with (.Get "float") }}
		class="{{ if eq . "right" }}floatRight{{ else if eq . "left" }}floatLeft{{ end }}"
	{{ end }}
	style='{{ with (.Get "width") }}max-width:{{ . }};{{ end }}' src='{{ .Get "src" }}'/>
{{ end }}
